name: Release

on:
  push:
    branches: [main, staging]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          target-branch: ${{ github.ref_name }}
          config-file: ${{ github.ref_name == 'staging' && 'release-please-config-staging.json' || 'release-please-config.json' }}
          manifest-file: .release-please-manifest.json
